<div class="content bg-white">

    {{#if alert}}
    <div class="alert alert-success alert-dismissible fade show m-3 shadow" role="alert">
        {{message}}
        <a type="button" href="/products" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </a>
    </div>
    <a class="btn btn-primary mx-3" href="/products">Tous les produits</a>
    {{/if}}

    {{#if data}}
    <h2 class="mb-5">Nouveau Produit</h2>
    <form method="post" action="/create_product">

        <div class="form-row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="name">Nom du produit</label>
                    <input type="text" class="form-control" id="name" name="name" aria-describedby="name"
                        placeholder="Nom du produit">
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="category">Catégorie</label>
                    <input type="text" class="form-control" id="category" name="category" placeholder="Catégorie">
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-12 col-md-4">
                <div class="form-group">
                    <label for="price">Prix Unitaire</label>
                    <input type="number" class="form-control" id="price" name="price" placeholder="Prix">
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="form-group">
                    <label for="quantity">Quantité</label>
                    <input type="number" class="form-control" id="quantity" name="quantity" placeholder="Quantité">
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="form-group">
                    <label for="supplier">Fournisseur</label>
                    <select type="text" class="form-control" id="supplier" name="supplier" placeholder="Fournisseur">
                        <option></option>
                        {{#each data}}
                        <option value="{{name}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="date" class="form-control" id="date" placeholder="Date" name="date">
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="time">Heure</label>
                    <input type="time" class="form-control" id="time" placeholder="Heure" name="time">
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary d-block w-25 mx-auto">
            Enregistrer
        </button>
    </form>
</div>

<script>
    var today = new Date();
    var date = document.getElementById("date");
    date.valueAsDate = today;

    var time = document.getElementById("time");
    time.value = today.toLocaleTimeString('en-GB', {
        hour: "numeric",
        minute: "numeric"
    });
</script>

{{/if}}