<div class="content bg-white">

    {{#if alert}}
    <div class="alert alert-success alert-dismissible fade show m-3 shadow" role="alert">
        {{message}}
        <a type="button" href="/suppliers" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </a>
    </div>
    <a class="btn btn-primary mx-3" href="/suppliers">Tous les fournisseurs</a>
    {{/if}}

    {{#if data}}
    <h2 class=" mb-5">Nouveau fournisseur</h2>

    <form method="post" action="/create_supplier">
        <input type="hidden" id="id" name="id">

        <div class="form-row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="name">Nom</label>
                    <input type="text" class="form-control" id="name" name="name" aria-describedby="name"
                        placeholder="Nom du fournisseur">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="phone_number">Téléphone</label>
                    <input type="text" class="form-control" id="phone_number" name="phone_number"
                        aria-describedby="phone_number" placeholder="Téléphone">
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="product_name">Nom du produit</label>
                    <input type="text" class="form-control" id="product_name" name="product_name"
                        placeholder="product_name">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="category">Catégorie</label>
                    <input type="text" class="form-control" id="category" name="category" placeholder="Catégorie">
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="price">Prix</label>
                    <input type="number" class="form-control" id="price" name="price" placeholder="Prix">
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary d-block w-50 mx-auto">Enregistrer</button>
    </form>
</div>

{{/if}}